body{
    margin: 0;
}
nav{
    background-color: aquamarine;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
nav a:first-child{
    color: red;

}

nav a:nth-child(2){

    color: black;
}

nav a:nth-child(3){
    color: brown;
}

nav a:hover{
    font-size: 18pt;

}
